.article_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    }

.article_card{
    background-color: #ddd;
    color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -1px #444444;
    -moz-box-shadow: 0px 0px 10px -1px #444444;
    box-shadow: 0px 0px 10px -1px #444444;
    padding: 5px;
}
.article_card .article_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    border-radius: 5px;
}
.article_card .article_nav:first-child{
font-weight: bold;
}
.article_card .content{
    padding: 5px;
    font-family:cursive ;
    font-style: italic;
}

.bttn{
float: left;
display: inline;
background: rgb(5, 1, 18);
border-radius: 5px;
padding: 2px;
box-shadow: 0px 0px 10px -1px #3a1932;
font-family: 'Segoe UI';
font-size: .8rem;
margin: 5px;
}
.article_card .date{
float: right;
display: inline;
border-radius: 5px;
padding: 2px;
box-shadow: 0px 0px 10px -1px #444444;
font-family: 'Segoe UI';
font-size: 0.8rem;
margin: 5px;

}

@media (max-width: 768px) {
	.article_container{
        display: block;
        }
        .article_card{
            height: 36vh;
            margin-top: 5px;
        }
}
/* Set a style for all buttons */
